<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <!--<context:property-placeholder location="classpath:conf/defaults.properties,${storm_config_path},application.properties"/>-->
    <context:property-placeholder location="classpath:application.properties,conf/stage-redis.properties"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.dspro">
    </context:component-scan>

    <import resource="redis.xml" />


</beans>